{% extends 'Health_Care_app/base.html' %}

{% block title %}Billing Information{% endblock %}

{% block content %}
    <h1 class="text-center mb-5">Billing Information</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Invoice Number</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for billing in billings %}
                    <tr>
                        <td>{{ billing.id }}</td>
                        <td>{{ billing.patient }}</td>
                        <td>{{ billing.medical_record.doctor.name }}</td>
                        <td>{{ billing.date }}</td>
                        <td>{{ billing.amount }}</td>
                        <td>
                            <a href="{% url 'billing_detail' billing.pk %}" class="btn btn-info btn-sm mr-2">View</a>
                            <a href="{% url 'billing_edit' billing.pk %}" class="btn btn-primary btn-sm mr-2">Edit</a>
                            <a href="{% url 'billing_delete' billing.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No billing information available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="{% url 'billing_new' %}" class="btn btn-success">Add Billing Information</a>
    </div>
{% endblock %}
