{% extends 'Health_Care_app/base.html' %}

{% block title %}{{ doctor.name }}{% endblock %}

{% block content %}
  <h1 class="text-center mb-5">{{ doctor.name }}</h1>

  <table class="table">
    <tr>
      <th>Email:</th>
      <td>{{ doctor.email }}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{ doctor.phone }}</td>
    </tr>
    <tr>
      <th>Specialty:</th>
      <td>{{ doctor.specialty }}</td>
    </tr>
    <tr>
      <th>Created At:</th>
      <td>{{ doctor.created_at }}</td>
    </tr>
    <tr>
      <th>Updated At:</th>
      <td>{{ doctor.updated_at }}</td>
    </tr>
  </table>

  <a href="{% url 'doctor_edit' pk=doctor.pk %}" class="btn btn-primary">Edit Doctor</a>
{% endblock %}
