{% extends 'Health_Care_app/base.html' %}

{% block title %}{% if form.instance.pk %}Edit Billing - {{ form.instance.patient }}{% else %}New Billing{% endif %}{% endblock %}

{% block content %}
<h1 class="text-center mb-5">{% if form.instance.pk %}Edit Billing - {{ form.instance.patient }}{% else %}New Billing{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="btn btn-primary mt-3" value="{% if form.instance.pk %}Update{% else %}Save{% endif %}">
</form>
{% endblock %}
