{% extends 'Health_Care_app/base.html' %}

{% block title %}Patient List{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Patient List</h1>

<a href="{% url 'patient_new' %}" class="btn btn-primary mb-3">New Patient</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Blood Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.get_gender_display }}</td>
                <td>{{ patient.phone_number }}</td>
                <td>{{ patient.email_address }}</td>
                <td>{{ patient.blood_type }}</td>
                <td>
                    <a href="{% url 'patient_detail' patient.pk %}" class="btn btn-primary btn-sm">Details</a>
                    <a href="{% url 'patient_edit' patient.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                    <form action="{% url 'patient_delete' patient.pk %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                </td>
            </tr>
            
        {% endfor %}
    </tbody>
</table>
{% endblock %}
